@namespace BlazorAntdProApp.Pages.GroupTable
@page "/group-table"
@using BlazorAntdProApp.Models.GroupTable

@using System.ComponentModel

<Table DataSource="data" TItem="LaneRecord" Bordered>
    <GroupTitleTemplate Context="group">
        <span>Carrier.@group.Key</span>
    </GroupTitleTemplate>
    <GroupFooterTemplate Context="group">

    </GroupFooterTemplate>
    <ColumnDefinitions>
        <PropertyColumn Property="c=>c.Carrier" />
        <PropertyColumn Property="c=>c.OriginPort" />
        <PropertyColumn Property="c=>c.DestinationPort" />
        <PropertyColumn Property="c=>c.Routing" />
        <PropertyColumn Property="c=>c.DestinationDoor" />
        <PropertyColumn Property="c=>c.Door" />
        <PropertyColumn Property="c=>c.DoorRate" />
        <PropertyColumn Property="c=>c.Transit" />
        <PropertyColumn Property="c=>c.Commodity" />
        <PropertyColumn Property="c=>c.ContainerSize" />
        <PropertyColumn Property="c=>c.NewOceanFreight" />
        <PropertyColumn Property="c=>c.CurrentOceanFreight" />
        <PropertyColumn Property="c=>c.NewBafLss" />
        <PropertyColumn Property="c=>c.CurrentBafLss" />
        <PropertyColumn Property="c=>c.NewDps" />
        <PropertyColumn Property="c=>c.NewTotal" />
        <PropertyColumn Property="c=>c.CurrentTotal" />
    </ColumnDefinitions>
    <ExpandTemplate Context="rowData">
        <div class="expanded-table">
            <div class="table-item">
                <div>TMF</div>
                <div>@rowData.Data.TMF</div>
            </div>
            <div class="table-item">
                <div>ISP</div>
                <span>@rowData.Data.ISP</span>
            </div>
            <div class="table-item">
                <div>AMS</div>
                <div>@rowData.Data.AMS</div>
            </div>
            <div class="table-item">
                <div>ADD</div>
                <div>@rowData.Data.ADD</div>
            </div>
            <div class="table-item">
                <div>ARR</div>
                <div>@rowData.Data.ARR</div>
            </div>
            <div class="table-item">
                <div>PSS</div>
                <div>@rowData.Data.PSS</div>
            </div>
            <div class="table-item">
                <div>CRF</div>
                <div>@rowData.Data.CRF</div>
            </div>
        </div>
    </ExpandTemplate>
</Table>

@code {
    string GradeGroupBy(int score)
       => score switch
       {
           >= 95 => "A",
           >= 90 => "B",
           _ => "C"
       };


    LaneRecord[] data =
     {
        new() {
           Carrier="DarkStar1-1",
           OriginPort ="NewYork",
           DestinationPort="Shanghai",
           Routing="Plan A",
           DestinationDoor="Black Gate",
           DoorRate = 1000,
           Door="BG",
           Transit=20,
           Commodity="CDSM/FAK/GARM",
           ContainerSize="40'",
           NewOceanFreight=5000,
           CurrentOceanFreight=6000,
           NewBafLss=3000,
           CurrentBafLss=2000,
           NewDps=3000,
           CurrentDps=2000,
           ISP=1000,
           AMS=2000,
           ARR=4000,
           NewTotal=9999,
           CurrentTotal=9999
        },
         new() {
           Carrier="DarkStar1-1",
           OriginPort ="NewYork",
           DestinationPort="Shanghai",
           Routing="Plan A",
           DestinationDoor="Black Gate",
           DoorRate = 1000,
           Door="BG",
           Transit=20,
           Commodity="CDSM/FAK/GARM",
           ContainerSize="40'",
           NewOceanFreight=5000,
           CurrentOceanFreight=200,
           NewBafLss=3000,
           CurrentBafLss=999,
           NewDps=3000,
           CurrentDps=2000,
           NewTotal=9999,
           CurrentTotal=9999
        },
         new() {
           Carrier="DarkStar1-2",
           OriginPort ="NewYork",
           DestinationPort="Shanghai",
           Routing="Plan A",
           DestinationDoor="Black Gate",
           DoorRate = 1000,
           Door="BG",
           Transit=20,
           Commodity="CDSM/FAK/GARM",
           ContainerSize="40'",
           NewOceanFreight=5000,
           CurrentOceanFreight=6000,
           NewBafLss=3000,
           CurrentBafLss=2000,
           NewDps=3000,
           CurrentDps=2000,
           NewTotal=9999,
           CurrentTotal=9999
        },
    };



    protected override void OnInitialized()
    {
        LaneRowItem[] res = [];

        foreach (LaneRecord originData in data)
        {
            if (res.Length == 0)
            {
                LaneRowItem resItem = dataTransform(originData);
                res = res.Append(resItem);
            }
            else
            {
                for (int i = 0; i < res.Length; i++)
                {
                    if (res[i].Carrier == originData.Carrier)
                    {
                        LaneRowItem rowItem = dataTransform(originData);
                        List<ExtraData> newList = res[i].ExtraDataList.Union(rowItem.ExtraDataList).ToList();
                        res[i].ExtraDataList = newList;
                        break;
                    }
                    else
                    {
                        LaneRowItem rowItem = dataTransform(originData);
                        res = res.Append(rowItem);
                        break;
                    }
                }
            }
            
        }

    }


    private LaneRowItem dataTransform(LaneRecord record)
    {
        ExtraData extraData = new ExtraData()
            {
                TMF = record.TMF,
                ISP = record.ISP,
                AMS = record.AMS,
                ADD = record.ADD,
                ARR = record.ARR,
                PSS = record.PSS,
                CRF = record.CRF
            };

        return new LaneRowItem()
            {
                Carrier = record.Carrier,
                ExtraDataList = [extraData]
            };
    }

}
<style>
    .expanded-table {
        display: flex;
        flex: 1;
        flex-direction: row;
    }

    .table-item {
        margin-right: 20px;
    }

</style>